@{
    ViewData["Title"] = "Шахматная доска";
}

<div class="text-center">
    @{
        if (@ViewData["Name"] != null)
        {
            <h1 class="display-4">Welcome, @ViewData["Name"]</h1>
        }
        else
        {
            <h1 class="display-4">Welcome</h1>
        }
    }
    <a asp-action="Create">Добавить пользователя</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="position-relative text-center board" id="chessBoard">


</div>



<img src="files/figures/black-pawn.png">


<script src="~/js/script.js"></script>

